* {
    margin: 0px;
    padding: 0px;
}

.dangkythanhvien {
    width: 500px;
    border: 1px solid black;
    margin-top: 100px;
    margin: 0px auto;
    padding-top: 50px;
    position: relative;
    top: 100px;
}

.dangkythanhvien h3 {
    background: #009688;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.dangkythanhvien form table tr td {
    padding: 5px;
}

.dangkythanhvien form table tr td input {
    padding: 3px 5px;
}

.list {
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.danhsach {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.danhsach table {
    width: 500px;
    border: 1px solid #999999;
}

.danh sach h3 {
    background: #009688;
    color: #fff;
    text-align: center;
    padding: 5px;
}